
PrimeioApp/.vs/PrimeioApp/FileContentIndex/0a28ea45-06fa-4614-85d1-6437af5ca929.vsidx
PrimeioApp/.vs/PrimeioApp/FileContentIndex/628013b4-3427-4097-97d3-aa2ab4e1c87c.vsidx
PrimeioApp/.vs/PrimeioApp/FileContentIndex/abfefff3-f019-4653-b225-eb40ffdd227a.vsidx
PrimeioApp/.vs/PrimeioApp/v17/.suo
PrimeioApp/PrimeioApp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/PrimeioApp.dll
PrimeioApp/PrimeioApp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/vs.appxrecipe
PrimeioApp/PrimeioApp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/PrimeioApp.build.appxrecipe
PrimeioApp/PrimeioApp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/PrimeioApp.dll
PrimeioApp/PrimeioApp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/PrimeioApp.pdb
PrimeioApp/PrimeioApp/obj/Debug/net7.0-android/designtime/libraryprojectimports.cache
PrimeioApp/PrimeioApp/obj/Debug/net7.0-android/PrimeioApp.assets.cache
PrimeioApp/PrimeioApp/obj/Debug/net7.0-android/PrimeioApp.GeneratedMSBuildEditorConfig.editorconfig
PrimeioApp/PrimeioApp/obj/Debug/net7.0-ios/iossimulator-x64/PrimeioApp.assets.cache
PrimeioApp/PrimeioApp/obj/Debug/net7.0-ios/iossimulator-x64/PrimeioApp.GeneratedMSBuildEditorConfig.editorconfig
PrimeioApp/PrimeioApp/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/PrimeioApp.assets.cache
PrimeioApp/PrimeioApp/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/PrimeioApp.GeneratedMSBuildEditorConfig.editorconfig
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.cs
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PrimeioApp.assets.cache
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PrimeioApp.csproj.CoreCompileInputs.cache
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PrimeioApp.csproj.FileListAbsolute.txt
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PrimeioApp.dll
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PrimeioApp.GeneratedMSBuildEditorConfig.editorconfig
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PrimeioApp.genruntimeconfig.cache
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/PrimeioApp.pdb
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/ProjectArchitectures.txt
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
PrimeioApp/PrimeioApp/obj/PrimeioApp.csproj.nuget.dgspec.json
PrimeioApp/PrimeioApp/obj/project.assets.json
PrimeioApp/PrimeioApp/obj/project.nuget.cache
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/intermediatexaml/PrimeioApp.dll
PrimeioApp/.vs/PrimeioApp/v17/.suo
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/intermediatexaml/PrimeioApp.pdb
PrimeioApp/PrimeioApp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/intermediatexaml/PrimeioApp.dll
